<div class="uk-container">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body ">
                <h3 class="uk-card-title">Participantes</h3>
                <button routerLink="/participants-manager" class="uk-button uk-button-default">Editar <span uk-icon="file-edit"></span></button>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Leiloes</h3>
                <button class="uk-button uk-button-default" routerLink="/adicionar-leilao">Editar <span uk-icon="file-edit"></span></button>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Lances</h3>
                <button class="uk-button uk-button-default"  >Editar <span uk-icon="file-edit"></span></button>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Funcionarios</h3>
                <button class="uk-button uk-button-default">Editar <span uk-icon="file-edit"></span></button>
            </div>
        </div>
    </div>
</div>