
<div class="uk-container ">
    <div class="uk-grid ">
        <div class="uk-child-width-expand@s uk-text-center uk-position-center" uk-grid>
            <!-- <form> -->
                <div class="uk-card uk-card-default uk-card-body uk-width-1@m uk-box-shadow-large">
                    <h3 class="uk-card-title">Bem vindo !</h3>
                    <div class="uk-grid">
                        <form class="uk-align-center">
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input class="uk-input" type="text" placeholder="Login">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input" type="text" placeholder="Senha">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <button
                                        class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            <!-- </form> -->
            <div>
            </div>
        </div>
    </div>
</div>