<app-adm-header></app-adm-header>
    <div class="uk-section uk-section-default">
        <div class="uk-card uk-card-secondary uk-card-body uk-width-1@m uk-box-shadow-large">
            <h3 class="uk-card-title">Formulario</h3>
            <div class="uk-grid">
                <form class="uk-align-center" [formGroup]="formulario">

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input" type="text" placeholder="Nome" formControlName="name">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input" type="text" placeholder="Usuario" formControlName="username">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input" type="text" placeholder="Senha" formControlName="password">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input" type="text" placeholder="Email" formControlName="email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input" type="text" placeholder="Telefone" formControlName="phone">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input" type="text" placeholder="Endereço" formControlName="address">
                        </div>
                    </div>


                    <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-secondary uk-width-1-1"
                            style="background-color: rgb(56, 233, 56, 0.692); color: #fff;"
                            (click)="createParticipant()">Cadastrar</button>
                    </div>
                    <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-primary uk-width-1-1"
                            style="background-color: rgba(255, 233, 36, 0.767); color: #fff;"
                            (click)="updateClient()">Atualizar</button>
                    </div>
                    <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-Danger uk-width-1-1"
                            style="background-color: rgba(233, 56, 56, 0.692);" (click)="excluirCliente()">Excluir</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div class="uk-section uk-section-default">
        <div class="uk-section uk-section-secondary">
            <div class="uk-container" style="padding: 15px;">
                <div *ngFor="let participant of participants" class="uk-child-width-expand@s" uk-grid>
                    <div>
                        <h4>ID</h4>
                        <ul class="uk-list uk-list">
                            <li>{{participant.id}}</li>
                        </ul>
                    </div>

                    <div>
                        <h4>Nome</h4>
                        <ul class="uk-list uk-list">
                            <li>{{participant.name}}</li>
                        </ul>
                    </div>

                    <div>
                        <h4>Usuario</h4>
                        <ul class="uk-list uk-list">
                            <li>{{participant.username}}</li>
                        </ul>
                    </div>

                    <div>
                        <h4>Email</h4>
                        <ul class="uk-list uk-list">
                            <li>{{participant.email}}</li>
                        </ul>
                    </div>

                    <div>
                        <h4>Phone</h4>
                        <ul class="uk-list uk-list">
                            <li>{{participant.phone}}</li>
                        </ul>
                    </div>

                    <div>
                        <h4>Endereço</h4>
                        <ul class="uk-list uk-list">
                            <li>{{participant.address}}</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Edit</h4>
                        <ul class="uk-list uk-list">
                            <li><button class="uk-button" (click)="edit(participant)" style="background-color: rgba(65, 252, 96, 0.753); color: white;">editar</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

