<div class="uk-cover-container">
    <div class="uk-padding">
        <div class="uk-child-width-1-2 uk-grid-small uk-text-center" uk-grid>
            <div>
                <div class="uk-padding">
                    <div class="uk-card uk-card-default uk-child-width-1-2" uk-grid>
                        <div class="uk-card-media-right uk-cover-container">
                            <img src="assets/d.jpg" alt="" uk-cover>
                            <canvas width="520" height="450"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Media Left</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>
            <div>
                <div class="uk-padding">
                    <div class="uk-card uk-card-default uk-child-width-1-2" uk-grid>
                        <div class="uk-card-media-right uk-cover-container">
                            <img src="assets/c.jpg" alt="" uk-cover>
                            <canvas width="520" height="450"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Media Left</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>
        </div>
    </div>
</div>
