.background {
  width: 1479.8px;
  padding: 20px;
  border-radius: 2px;
  background-color: #d8ddde;
}

.card-auction {
  width: 1300px;
  height: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.card-auction-img {
  width: 500px;
  height: 400px;
  padding-top: 50px;
  padding: 50px;
  margin: 0px;
}

.auction-img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 5px;
  margin: 0px;
  display: block;
  width: auto;
  height: auto;
}

.card-auction-description {
  width: 700px;
  height: 400px;
}

.auction-description {
  height: 280px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-right: 200px;
}

.auction-bid {
  margin-top: 0px;
  padding-top: 10px;
}

.uk-button {
  border-radius: 2px;
}

/*  TEXTOS   */
.uk-card-title {
  font-size: 40px;
}

.au-description {
  font-size: 20px;
}
.au-valueBid {
  position: absolute;
  margin: 0px;
  padding-top: 130px;
  padding-bottom: 10px;
  font-size: 18px;
}

.uk-bid {
  margin-top: 70px;
}
.uk-input {
  margin-right: 10px;
}
