<app-header></app-header>
<hr class="uk-divider-icon">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid *ngIf="item !== undefined">
        <div class="uk-card-media-left uk-cover-container">
            <img src="{{ item.imagePath }}" alt="" uk-cover>
            <canvas width="500" height="500"></canvas>
        </div>
        <div>
            <div class="uk-card-body"*ngIf="bids !== undefined">
                <h3 class="uk-card-title">{{item.title}}</h3>
                <p class="au-description">{{ item.description }}</p>
                <p class="au-description">MAIOR LANCE: {{ bids.value }}</p>
            <div class="uk-flex uk-bid" [formGroup]="formBid" >
                
                <div class="uk-margin">
                    <input 
                    class="uk-input uk-form-width-medium" 
                    type="text" 
                    placeholder="valor" 
                    formControlName="valueBid">
                </div>
                <div>
                    <button 
                    class="uk-button uk-button-secondary" 
                    type="button" 
                    (click)="makeABid()"
                    >Lance</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="uk-divider-icon">