<app-header></app-header>
    <div class="background">
        <div class="card-auction uk-flex" *ngIf="item !== undefined">
            <div class="card-auction-img">
                <img src="{{ item.imagePath }}" class="auction-img">
            </div>
            <div class="card-auction-description">
                <div class="auction-description ">
                    <h3 class="uk-card-title">{{item.title}}</h3>
                    <p class="au-description uk-text-lighter uk-text-emphasis uk-text-left">{{ item.description }}</p>
                </div>
                <div class="auction-bid">
                    <div>
                        <p class="uk-text-success" *ngIf="bids != undefined ">MAIOR LANCE: {{ bids.value | currency:'$':true }}</p>
                        <p class="uk-text-success" *ngIf="bids == undefined">MAIOR LANCE: {{ item.minimumBid | currency:'$':true }}</p>
                    </div>  
                    <div class="uk-flex" [formGroup]="formBid" >
                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-medium" type="text" placeholder="valor" formControlName="valueBid">
                        </div>
                        <div>
                            <button class="uk-button uk-button-secondary" type="button" (click)="makeABid()">Lance</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<app-footer></app-footer>