.uk-container-small{
   margin-left: 30px;
   max-width: 300px;
   padding-top: 50px;
}

.uk-container-large{
    margin-left: 30px;
    padding-top: 100px;
}

.text-title{
    font-size: 30px;
}

.uk-container-large{
   max-width: 1000px;
   width: 1000px;

}
.uk-parent{
    font-size: 20px;
}

.uk-search{
    width: 300px;
}

.uk-divider-vertical{
    margin-top: 50px;
    width: 1px;
    height: 800px;
    margin-left: 20px;
    margin-right: 0px;
    border-left: 1px solid #e5e5e5;
}
