<app-header></app-header>
<div class="uk-child-width-1-2" uk-grid>
    <div class="uk-container-small">
        <div>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
            <li class="uk-active"><a class="text-title">Buscar Leilões</a></li>
                <div class="uk-margin">
                    <form class="uk-search uk-search-default">
                        <div class="uk-inline">
                            <a class="uk-form-icon" uk-icon="icon: search"></a>
                            <input  class="uk-input uk-form-width-medium" type="text" placeholder="buscar leilão">
                        </div>
                    </form>
                </div>
            <li class="uk-nav-divider"></li>
            <li class="uk-parent">
                <a class="text-checkBox">Tipo de Leilão</a>
                <ul class="uk-nav-sub">
                    <li><label><input class="uk-checkbox" type="checkbox"> Category 1</label></li>
                </ul>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-parent">
                <a class="text-checkBox" href="#">Categoria</a>
                <ul class="uk-nav-sub">
                    <div *ngFor="let category of categories">
                        <li>
                            <label>
                                <input class="uk-checkbox text-checkBox"
                                type="checkbox"> {{ category.name }}
                            </label>
                        </li>
                    </div>
                </ul>
            </li>
            </ul>
        </div>
    </div>
    <hr class="uk-divider-vertical">
    <div class="uk-container-large">
        <div class="uk-child-width-1-3@m uk-grid-match" uk-grid>
            <div *ngFor="let item of items">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{ item.imagePath }}" alt="" style="max-height: 350px;">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-align-center">{{ item.title }}</h3>
                        <p class="itm-description uk-align-center">{{ item.description }}</p>
                        <button
                        [routerLink]="['/leilao', item.id]"
                        class="uk-button uk-button-secondary uk-align-center">
                        VER LEILÃO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
