<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">BEST BIDS ADM</a>
        <ul class="uk-navbar-nav">
            <li><a routerLink="/buscar-leiloes">LEILÕES</a></li>
            <li><a routerLink="/participants-manager">PARTICIPANTES</a></li>
            
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a (click)="logout()">Sair</a></li>
            <li><a *ngIf="user">{{user.name}}</a></li>
            
        </ul>
    </div>
</nav>
