<div class="uk-cover-container">
    <hr class="uk-divider-icon">
<div class="uk-child-width-1-4@m" uk-grid>
    <app-auction-card></app-auction-card>
    <app-auction-card></app-auction-card>
    <app-auction-card></app-auction-card>
    <app-auction-card></app-auction-card>
    <app-auction-card></app-auction-card>
    <app-auction-card></app-auction-card>
    <app-auction-card></app-auction-card>
    <app-auction-card></app-auction-card>
</div>
<button class="uk-button uk-button-text">VER TODOS OS LEILÕES</button>
<hr class="uk-divider-icon">
</div>