<div class="uk-cover-container">
    <hr class="uk-divider-icon">
<div class="uk-child-width-1-4@m" uk-grid>
        <div *ngFor="let item of items">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="{{ item.imagePath }}" alt="" style="max-height: 350px;">
                </div>
                <div class="uk-card-body">
                    <div class="uk-card-badge uk-label">Badge</div>
                    <h3 class="uk-card-title">{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
