<app-adm-header></app-adm-header>
<div class="background">
    <div class='box-auctions'>
        <div class="uk-flex header-auctions">
            <h3>Leilões</h3>
            <div class="search-padding">
                <form class="uk-search uk-search-default">
                    <span class="uk-search-icon-flip" uk-search-icon></span>
                    <input class="uk-search-input" type="search" placeholder="Search">
                </form>
            </div>
        </div>
        <div>
            <button class="uk-button uk-button-primary">Primary</button>
        </div>
        <div class="box-auction uk-flex">
            <div>
                <img class="img" src="assets/d.jpg">
            </div>
            <div class="box-text">
                <p class="uk-text-large uk-text-lighter">NOME DO ITEM</p>
                <div>
                    <div>
                    <p>Inicio</p>
                        <div class="uk-flex">
                            <span class="padding" uk-icon="calendar"></span>
                            <p>06/05/2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="uk-button uk-button-primary button-finalize">Finalziar</button>
        </div>
    </div>
</div>      
